---
---

@import "{{ site.theme }}";

.site-title {
	font-size: 40px;
	vertical-align: middle;
}

.site-logo {
	margin: 5px 0px;
}

p.logo {
	display: flex;
	gap: 40px;
	align-items: center;
   justify-content: center;
}

p.logo img {
  max-height: 70px;
  max-width: 130px;
}

ul.people {
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: center;
	width: 100%;
	display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 15px;
}

ul.people li {
	vertical-align: top;
	width: 200px;
	height: 200px;
	margin: auto;
	padding: 5px;
	border-radius: 5px;
	justify-content: center;
}

ul.people li img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	display: inline-block;
	margin: 10px 0px;
}